<section class="hero is-info is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                <%= message %>
            </h1>
            <h2 class="subtitle is-3">
                Sistema de Gestion de Nomina con Express.js, PostgreSQL y MySQL
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon is-large has-text-info">
                                    <i class="fas fa-users fa-3x"></i>
                                </span>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">Empleados</p>
                                <p class="subtitle is-6">Gestión de empleados</p>
                            </div>
                        </div>
                        <div class="content">
                            Administra la información de los empleados de tu empresa.
                            <br>
                            <a href="/empleados" class="button is-info is-fullwidth mt-4">Ver Empleados</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon is-large has-text-success">
                                    <i class="fas fa-money-bill-wave fa-3x"></i>
                                </span>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">Nómina</p>
                                <p class="subtitle is-6">Procesamiento de nómina</p>
                            </div>
                        </div>
                        <div class="content">
                            Calcula y procesa la nómina de tus empleados.
                            <br>
                            <a href="/nomina" class="button is-success is-fullwidth mt-4">Ver Nómina</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon is-large has-text-warning">
                                    <i class="fas fa-chart-bar fa-3x"></i>
                                </span>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">Reportes</p>
                                <p class="subtitle is-6">Reportes y estadísticas</p>
                            </div>
                        </div>
                        <div class="content">
                            Genera reportes y visualiza estadísticas de nómina.
                            <br>
                            <a href="/reportes" class="button is-warning is-fullwidth mt-4">Ver Reportes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
