<aside class="sidebar-menu" aria-label="Menú principal">
    <div class="sidebar-brand">
        <a href="/">
            <strong>Práctica Nómina</strong>
        </a>
    </div>

    <ul class="menu-list sidebar-list">
        <li>
            <a href="/">
                <span class="icon">
                    <i class="fas fa-home"></i>
                </span>
                <span>Inicio</span>
            </a>
        </li>
        <li>
            <a href="/empleados">
                <span class="icon">
                    <i class="fas fa-users"></i>
                </span>
                <span>Empleados</span>
            </a>
        </li>
        <li>
            <a href="/departamentos">
                <span class="icon">
                    <i class="fas fa-sitemap"></i>
                </span>
                <span>Departamentos</span>
            </a>
        </li>
        <li>
            <a href="/puestos">
                <span class="icon">
                    <i class="fas fa-briefcase"></i>
                </span>
                <span>Puestos</span>
            </a>
        </li>
        <li>
            <a href="/payroll">
                <span class="icon">
                    <i class="fas fa-money-bill-wave"></i>
                </span>
                <span>Nómina</span>
            </a>
        </li>
        <li>
            <a href="/bonos">
                <span class="icon">
                    <i class="fas fa-gift"></i>
                </span>
                <span>Bonos</span>
            </a>
        </li>
        <li>
            <a href="/bitacora">
                <span class="icon">
                    <i class="fas fa-clipboard-list"></i>
                </span>
                <span>Bitácora</span>
            </a>
        </li>
    </ul>

    <div class="sidebar-profile">
        <a class="button is-light is-fullwidth">
            <span class="icon">
                <i class="fas fa-user"></i>
            </span>
            <span>Perfil</span>
        </a>
    </div>
</aside>
