<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <strong>Práctica Nómina</strong>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                <span class="icon">
                    <i class="fas fa-home"></i>
                </span>
                <span>Inicio</span>
            </a>
            <a class="navbar-item" href="/empleados">
                <span class="icon">
                    <i class="fas fa-users"></i>
                </span>
                <span>Empleados</span>
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light">
                        <span class="icon">
                            <i class="fas fa-user"></i>
                        </span>
                        <span>Perfil</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
